@font-face {
  font-family: 'Museo 300';
  src: url('~@/assets/fonts/Museo300-Regular.eot');
  src: url('~@/assets/fonts/Museo300-Regular.eot?#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/Museo300-Regular.woff2') format('woff2'),
  url('~@/assets/fonts/Museo300-Regular.woff') format('woff'),
  url('~@/assets/fonts/Museo300-Regular.ttf') format('truetype'),
  url('~@/assets/fonts/Museo300-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CeraPRO';
  src: url('~@/assets/fonts/CeraPRO-Regular.eot');
  src: url('~@/assets/fonts/CeraPRO-Regular.eot?#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/CeraPRO-Regular.woff2') format('woff2'),
  url('~@/assets/fonts/CeraPRO-Regular.woff') format('woff'),
  url('~@/assets/fonts/CeraPRO-Regular.ttf') format('truetype'),
  url('~@/assets/fonts/CeraPRO-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


